header {
    background-image: url(../img/pattern.png);
    background-color: rgba(0, 47, 255, 0.60);

}

main,
footer {
    margin-left: 5px;
}

#logo {
    width: 20%;
    margin-top: 100px;
    margin-left: 5px;
}

h1 {
    margin-bottom: 5px;
}

.autore {
    color: grey;
}


#testo_blu {
    color: rgb(120, 214, 221);
}

#immagini_main {
    margin-top: 15px;
}

.testo_descrittivo {
    font-size: 12px;
}

.evidenziato {
    background-color: yellow;
}

th {
    margin-right: 10%;
}

.colonnasx,
.colonna_centro,
.colonnadx {
    float: left;
    width: 25%;
}

.colonnadx {
    float: left;
}

.riga1 {
    background-color: rgba(0, 47, 255, 0.60);
}

.riga2 {
    background-color: rgb(120, 214, 221);
    height: 60px;
}

#clear {
    clear: both;
}

.immagine1 {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    background-image: url("../img/monitor.jpg");
}

.immagine2 {
    width: 300px;
    height: 200px;
    background-image: url("../img/graph.jpg");
}

.testo_img_footer {
    color: white;

}